
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<LegendOfFall.Models.BlogPost>
<div id="blog">

    <h1>ბლოგპოსტები</h1>
    <div>
        @Html.Label("ყველა ბლოგი")
        @Html.RadioButton("status", "all", new { @class = "status" })
        @Html.Label("აქტიური")
        @Html.RadioButton("status", "approved", new { @class = "status" })
        @Html.Label("ელოდება თანხმობას")
        @Html.RadioButton("status", "waiting", new { @class = "status" })
    </div>
    <a class="btn btn-success" href="@Url.Action("Create","Blog")">ბლოგპოსტის დამატება</a>

    <div id="content">
        @foreach (var item in Model)
        {
            var body = item.Body.Length > 200 ? item.Body.Substring(0, 200) + "..." : item.Body;
            var status = item.IsApproved == false || item.IsApproved == null ? "ელოდება ადმინის თანხმობას" : "აქტიური";
            <div class="content-wrapper">
                <div class="blog-info-wrapper">
                    <p><strong>სათაური:</strong> @item.Title</p>
                    <p><strong>ავტორი: </strong> @item.AuthorName</p>
                    <p><strong>სტატუსი: </strong>@status</p>
                    <p><strong>შექმნის თარიღი : </strong>@item.DateCreated</p>
                </div>
                <a class="btn btn-warning" href="@Url.Action("Edit","Blog", new {id = item.Id })">რედაქტირება</a>
                <a class="btn btn-danger" href="@Url.Action("Delete","Blog",new {id = item.Id })">წაშლა</a>
                <a class="btn btn-info" href="@Url.Action("Details","Blog",new {id = item.Id })">დეტალები</a>
            </div>

        }
    </div>
</div>

@section Scripts
{
    <script>
        $('.status').on("click", function () {
            console.log("clicked!!!");
            var triger = $(this);
            $.get("/Admin/BlogsByStatus", { status: triger.val() })
                .done(function (response) {
                    $('#content').html(response);
                });
        });
    </script>
}

