
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
@model LegendOfFall.ViewModels.BlogViewModel

<h1>ბლოგის დამატება</h1>

@using (Html.BeginForm("Create", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{    

    <div class="form-group">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new {@class="form-control" })
        @Html.ValidationMessageFor(x => x.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Body)
        @Html.TextAreaFor(x => x.Body, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(x => x.Body)
    </div>    
    

    <div class="form-group">
        @Html.LabelFor(x=>x.Upload)
        <input type="file" name="@Html.NameFor(x=>x.Upload)" id="@Html.IdFor(x=>x.Upload)" multiple />
        @Html.ValidationMessageFor(x=>x.Upload)
    </div>

    <button type="submit" class="btn btn-success"> დამატება </button>
}

