
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model LegendOfFall.ViewModels.BlogViewModel

@{
    var imgs = (IEnumerable<LegendOfFall.Models.Photo>)ViewBag.Imgs;
}

<h1>ბლოგის რედაქტირება</h1>

@using (Html.BeginForm("Edit", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Body)
        @Html.TextAreaFor(x => x.Body, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(x => x.Body)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.IsApproved)
        @Html.CheckBoxFor(x => x.IsApproved)
    </div>

    <div class="form-group">
        @Html.Label("ფოტოს ატვირთვა")
        <input type="file" name="photo" id="photo" />
    </div>

    <div class="form-group">
        <p style="margin-bottom:5px;"><strong>ბლოგის ფოტოები</strong></p>
        @Html.Partial("_ImageBrowserPartial", imgs)
    </div>

    <button type="submit" class="btn btn-success"> შენახვა </button>
}

