
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model LegendOfFall.ViewModels.BlogViewModel

<h1>ბლოგის რედაქტირება</h1>

@using (Html.BeginForm("Edit", "Blog", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Body)
        @Html.TextAreaFor(x => x.Body, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(x => x.Body)
    </div>

    <button type="submit" class="btn btn-success"> შენახვა </button>
}

