
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model LegendOfFall.ViewModels.ApplicantViewModel

<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<h1>რედაქტირება</h1>

@using (Html.BeginForm("Edit", "Applicant", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <input style="display:none" value="@Model.Id" />
    <div class="form-group">
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x=>x.FirstName,new {@class="form-control" })
        @Html.ValidationMessageFor(x=>x.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.LastName)
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.LastName)
    </div>
    <div>
        @Html.LabelFor(x => x.Bio)
        @Html.TextAreaFor(x=>x.Bio, new {@class="ckeditor",  value = Model.Bio })
        @Html.ValidationMessageFor(x=>x.Bio)
    </div>
    <div>
        @Html.LabelFor(x=>x.PhoneNumber)
        @Html.TextBoxFor(x=>x.PhoneNumber,new { @class = "form-control"})
        @Html.ValidationMessageFor(x=>x.PhoneNumber)
    </div>
    <div>
        <button type="submit" class="btn btn-success">შენახვა</button>
    </div>
}



