
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model LegendOfFall.Models.Applicant

<link href="~/Content/assets/css/applicant-inner.css" rel="stylesheet" />

<div class="applicant-wrapper">
    <img src="~/Content/assets/img/face.jpg" />
    <p><strong>სახელი:</strong> @Model.FirstName</p>
    <p><strong>გვარი: </strong>@Model.LastName</p>
    <p><strong>სეზონი: </strong>@Model.Season_Applicant.FirstOrDefault().Season.Year</p>
    <p><strong>ელფოსტა: </strong>@Model.Email </p>
    <p><strong>ტელეფონის ნომერი:</strong> @Model.PhoneNumber </p>
    <p><strong>ბიოგრაფია:</strong> @Html.Raw(Model.Bio)</p>

    <label for="is-finalist"> <strong>ფინალისტი</strong> </label>
    <input id="is-finalist" type="checkbox" />


</div>

