
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model LegendOfFall.ViewModels.SeasonViewModel

<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<h1>სეზონის დამატება</h1>

@using (Html.BeginForm("Create", "Season", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(x=>x.Title)
        @Html.TextBoxFor(x=>x.Title, new {@class = "form-control" })
        @Html.ValidationMessageFor(x=>x.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(x=>x.Year)
        @Html.TextBoxFor(x=>x.Year, new {@class = "form-control" })
        @Html.ValidationMessageFor(x=>x.Year)
    </div>

    
    <div>
        @Html.LabelFor(x => x.Description)
        @Html.TextAreaFor(x => x.Description, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(x=>x.Description)
    </div>


    <div class="form-group">
        <label for="photo">ფოტოს ატვირთვა</label>
        <input id="photo" type="file" name="photo" multiple  />
    </div>
    <button type="submit" class="btn btn-success">შენახვა</button>
}

